
# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

.vscode/*

# Environments
env
env3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
pramesh3.h5